services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: webmapping_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Powerman67!
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn myproject.wsgi:application --bind 0.0.0.0:8000
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
